/*---------------------------------------BASIC SETUP-----------------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: rgb(255, 255, 255);
    color: rgb(189, 187, 187);
    font-family: 'Lato','Arial',sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}   
/* ---------------------------------------------------RESUABLE COMPONENTS------------------- */
.row{
    max-width: 1140px;
    margin: 0 auto;
}
.main-section{
    padding: 80px 0;
}
/*------------------------------------------------- HEADER----------------------------------- */
header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(/resources/css/img/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.hero-text-box{
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
h1,
h2,
h3{
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
}
h1{
    margin-top:0;
    margin-bottom: 20px;
    color:#fff;
    font-size: 200%;
    word-spacing: 4px;
    
  
}
h2{
    font-size: 180%;
    text-align: center;
    word-spacing: 2px;
    margin-bottom: 30px;
}
h2::after{
    display: block;
    height:2px;
    color: #d35400;
    content: " ";
    width: 100%;
    margin: 0 auto;
    margin-top: 30px;
}
  /*----------------------------------------- BUTTON DETAIL ---------------------------*/                
.btn:link,
.btn:visited{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.5s, border 0.5s, color 0.5s;
}

.btn-ghost:link,
.btn-ghost:visited{
    margin-right: 20px;
    background-color: #d35400;
    border: 1px solid #d35400;
    color: #fff;
}

.btn-hero:link,
.btn-hero:visited{
border: 1px solid #d35400;
color: #d35400;
}

.btn:hover,
.btn:active{
    background-color: #ff6a07;
}

.btn-ghost:hover,
.btn-ghost:active{
    border: 1px solid #ff6a07;
}

.btn-hero:hover,
.btn-hero:active{
border: 1px solid #ff6a07;
color: #fff;
}
/* 
------------------header feature----------------------------
*/
.logo{
    height: 90px;
    width: auto;
    float: left;
    margin-top:20px;

}
.main-nav{
    float: right;
    margin-top:55px;
    list-style: none;
}
.main-nav li{
    display: inline-block;
    margin-left: 40px;

}
.main-nav li a:link,
.main-nav li a:visited{
    padding: 5px 0px;
    color:#fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    /* transition: border-bottom 0.3s; */
}
.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid #d35400;
    transition: border-bottom 0.3s;

}
.box{
    padding:1px;
}
.box p{
    font-size: 110%;
}